force-app/main/default/flows/Create_Follow_Up_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Record_Owner</name>
        <label>Get Record Owner</label>
        <locationX>1935</locationX>
        <locationY>1144</locationY>
        <actionName>GetRelatedUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_to_Record_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>Loop_through_Rules.Restricted_Object_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Related_User</name>
        <label>Get Related User</label>
        <locationX>1808</locationX>
        <locationY>1019</locationY>
        <actionName>GetRelatedUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_to_Related_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>Loop_through_Rules.Restricted_Object_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <elementReference>Loop_through_Rules.Related_User_Field__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_What_Object</name>
        <label>Get What Object</label>
        <locationX>811</locationX>
        <locationY>522</locationY>
        <actionName>GetObjectNameFromId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Does_Task_have_WhoId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>whatObject</assignToReference>
            <name>objectName</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Who_Object</name>
        <label>Get Who Object</label>
        <locationX>1026</locationX>
        <locationY>524</locationY>
        <actionName>GetObjectNameFromId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_rules</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Yes_Task_has_WhoId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>whoObject</assignToReference>
            <name>objectName</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Split_Keywords</name>
        <label>Split Keywords</label>
        <locationX>1078</locationX>
        <locationY>918</locationY>
        <actionName>SplitString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_keywords</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>\n</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>Loop_through_Rules.Keywords__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Split_Objects</name>
        <label>Split Objects</label>
        <locationX>866</locationX>
        <locationY>693</locationY>
        <actionName>SplitString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_restricted_objects</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringToSplit</name>
            <value>
                <elementReference>Loop_through_Rules.Restricted_Object_Value__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_new_Task_to_collection</name>
        <label>Add new Task to collection</label>
        <locationX>1598</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>tasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_values</name>
        <label>Assign New Task values</label>
        <locationX>1485</locationX>
        <locationY>1138</locationY>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Rules.Follow_Up_Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWeekendAdjustedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Task_Follow_Up_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Rules.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.ID_of_Triggering_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Who_is_the_new_task_assigned_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Manager</name>
        <label>Assign to Manager</label>
        <locationX>1670</locationX>
        <locationY>967</locationY>
        <assignmentItems>
            <assignToReference>newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Task_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Record_Owner</name>
        <label>Assign to Record Owner</label>
        <locationX>1935</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Owner.relatedUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Task_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Related_User</name>
        <label>Assign to Related User</label>
        <locationX>1806</locationX>
        <locationY>848</locationY>
        <assignmentItems>
            <assignToReference>newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_User.relatedUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Task_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Same_User</name>
        <label>Assign to Same User</label>
        <locationX>1467</locationX>
        <locationY>978</locationY>
        <assignmentItems>
            <assignToReference>newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_Task_to_collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_current_Rule_have_object_restrictions</name>
        <label>Does current Rule have object restrictions?</label>
        <locationX>1071</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Split_Keywords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No object restrictions</defaultConnectorLabel>
        <rules>
            <name>Yes_object_restrictions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Rules.Restricted_Object_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Objects</targetReference>
            </connector>
            <label>Yes, object restrictions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Task_have_WhatId</name>
        <label>Does Task have WhatId?</label>
        <locationX>706</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Does_Task_have_WhoId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No WhatId</defaultConnectorLabel>
        <rules>
            <name>Yes_Task_has_WhatId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_What_Object</targetReference>
            </connector>
            <label>Yes, Task has WhatId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Task_have_WhoId</name>
        <label>Does Task have WhoId?</label>
        <locationX>918</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>Get_rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No WhoId</defaultConnectorLabel>
        <rules>
            <name>Yes_Task_has_WhoId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Who_Object</targetReference>
            </connector>
            <label>Yes, Task has WhoId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Task_match_object</name>
        <label>Does Task match object?</label>
        <locationX>738</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Loop_through_restricted_objects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Task doesn&apos;t match object</defaultConnectorLabel>
        <rules>
            <name>Yes_Task_matches_object</name>
            <conditionLogic>1 OR 2 OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_restricted_objects</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>whatObject</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_restricted_objects</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>whoObject</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_restricted_objects</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constAccount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Keywords</targetReference>
            </connector>
            <label>Yes, Task matches object</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Task_subject_contain_keyword</name>
        <label>Does Task subject contain keyword?</label>
        <locationX>1271</locationX>
        <locationY>1137</locationY>
        <defaultConnector>
            <targetReference>Loop_keywords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subject doesn&apos;t match keyword</defaultConnectorLabel>
        <rules>
            <name>Yes_subject_matches_keyword</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fLowerCaseSubject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>fLowerCaseKeyword</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Task_values</targetReference>
            </connector>
            <label>Yes, subject matches keyword</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_the_new_task_assigned_to</name>
        <label>Who is the new task assigned to?</label>
        <locationX>1672</locationX>
        <locationY>1133</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Same_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same User (default)</defaultConnectorLabel>
        <rules>
            <name>Task_Owner_s_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Rules.Assign_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task Owner&apos;s Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Manager</targetReference>
            </connector>
            <label>Task Owner&apos;s Manager</label>
        </rules>
        <rules>
            <name>Record_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Rules.Assign_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Record Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Owner</targetReference>
            </connector>
            <label>Record Owner</label>
        </rules>
        <rules>
            <name>Related_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Rules.Assign_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Related User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_User</targetReference>
            </connector>
            <label>Related User</label>
        </rules>
    </decisions>
    <formulas>
        <name>fFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>BLANKVALUE({!$Record.ActivityDate}, TODAY()) + {!Loop_through_Rules.Days_Till_Follow_Up__c}</expression>
    </formulas>
    <formulas>
        <name>fLowerCaseKeyword</name>
        <dataType>String</dataType>
        <expression>LOWER({!Loop_keywords})</expression>
    </formulas>
    <formulas>
        <name>fLowerCaseSubject</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.Subject})</expression>
    </formulas>
    <formulas>
        <description>Returns the task owner&apos;s manager ID if one is assigned, otherwise returns the task owner themself.</description>
        <name>fManagerId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_Task_Owner.ManagerId}, {!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>fWeekendAdjustedDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Loop_through_Rules.Skip_Weekends__c},
  IF(WEEKDAY({!fFollowUpDate}) = 1, 
    {!fFollowUpDate} + 1,
    IF(WEEKDAY({!fFollowUpDate}) = 6, 
      {!fFollowUpDate} + 2,
      {!fFollowUpDate})),
  {!fFollowUpDate}
)</expression>
    </formulas>
    <interviewLabel>Create Follow-Up Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Follow-Up Tasks</label>
    <loops>
        <name>Loop_keywords</name>
        <label>Loop keywords</label>
        <locationX>1275</locationX>
        <locationY>918</locationY>
        <collectionReference>Split_Keywords.strings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Task_subject_contain_keyword</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Rules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_restricted_objects</name>
        <label>Loop through restricted objects</label>
        <locationX>746</locationX>
        <locationY>693</locationY>
        <collectionReference>Split_Objects.strings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Task_match_object</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_Rules</name>
        <label>Loop through Rules</label>
        <locationX>1272</locationX>
        <locationY>613</locationY>
        <collectionReference>Get_rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_current_Rule_have_object_restrictions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_New_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_New_Tasks</name>
        <label>Insert New Tasks</label>
        <locationX>1817</locationX>
        <locationY>606</locationY>
        <inputReference>tasksToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_rules</name>
        <label>Get rules</label>
        <locationX>1134</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Follow_Up_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Owner</name>
        <label>Get Task Owner</label>
        <locationX>1272</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>889</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Does_Task_have_WhatId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Follow_Up_Rule__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_Almost_Immediately</name>
            <label>Run Almost Immediately</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tasksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>whatObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>whoObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
