force-app/main/default/flows/New_Task_Follow_Up_Rule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_Rule_Record</name>
        <label>Open Rule Record</label>
        <locationX>374</locationX>
        <locationY>1334</locationY>
        <actionName>c:tfur_OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>followUpRule.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Rule_Values</name>
        <label>Set Rule Values</label>
        <locationX>374</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>followUpRule.Follow_Up_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Follow_Up_Task_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpRule.Keywords__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Keywords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpRule.Days_Till_Follow_Up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_Until_Follow_Up</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpRule.Skip_Weekends__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Don_t_schedule_on_weekends</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpRule.Assign_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSettingAssignTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpRule.Object_Selection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apply_to_Tasks_on_Which_Object</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpRule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSettingRecordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpRule.Related_User_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleObjectWithField.fieldValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpRule.Restricted_Object_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSelectedObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpRule.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>followUpRule.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule_is_Active</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_or_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Any_Object</name>
        <choiceText>Any Object</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Any Object</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multiple_Specific_Objects</name>
        <choiceText>Multiple Specific Objects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple Specific Objects</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Specific_Object</name>
        <choiceText>One Specific Object</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Specific Object</stringValue>
        </value>
    </choices>
    <constants>
        <name>tfurObject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task_Follow_Up_Rule__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_errors</name>
        <label>Any errors?</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Rule_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No errors</defaultConnectorLabel>
        <rules>
            <name>Error_Invalid_object_selection</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Assign_To</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>related</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>singleObjectWithField.objectValue</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>singleObjectWithoutField.objectValue</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Rule_Screen</targetReference>
            </connector>
            <label>Error! Invalid object selection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_or_Update</name>
        <label>Insert or Update?</label>
        <locationX>374</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Insert_New_Rule</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>setAssignTo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Assign_To__c</picklistField>
        <picklistObject>Task_Follow_Up_Rule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>setObjects</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>EntityDefinition</object>
        <valueField>QualifiedApiName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>setObjectSelection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Object_Selection__c</picklistField>
        <picklistObject>Task_Follow_Up_Rule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>setPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fDefaultAssignToOption</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!followUpRule.Assign_To__c}), {!Default_Picklist_Value_Assign_To.picklistOptionLabel})</expression>
    </formulas>
    <formulas>
        <name>fDefaultDays</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!followUpRule.Days_Till_Follow_Up__c}, 7)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fDefaultIsActive</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!followUpRule.Id}), true, {!followUpRule.Is_Active__c})</expression>
    </formulas>
    <formulas>
        <name>fDefaultObjectSelection</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!followUpRule.Object_Selection__c}), {!Default_Picklist_Value_Object_Selection.picklistOptionLabel})</expression>
    </formulas>
    <formulas>
        <name>fDefaultPriority</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!followUpRule.Priority__c}, {!Default_Picklist_Value_Task_Priority.picklistOptionLabel})</expression>
    </formulas>
    <formulas>
        <name>fDefaultSkipWeekends</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!followUpRule.Id}), true, {!followUpRule.Skip_Weekends__c})</expression>
    </formulas>
    <formulas>
        <name>fDefaultUseAdvancedOptions</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!recordId})) &amp;&amp; (
TEXT({!followUpRule.Assign_To__c}) &lt;&gt; {!Default_Picklist_Value_Assign_To.picklistOptionLabel}   || (NOT(ISBLANK(TEXT({!followUpRule.Object_Selection__c}))) &amp;&amp; TEXT({!followUpRule.Object_Selection__c}) &lt;&gt; {!Default_Picklist_Value_Object_Selection.picklistOptionLabel}) || NOT(ISBLANK({!followUpRule.Related_User_Field__c})) || ({!followUpRule.Name} &lt;&gt; {!followUpRule.Follow_Up_Subject__c})
)</expression>
    </formulas>
    <formulas>
        <name>fSelectedObject</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!singleObjectWithField.objectValue}, BLANKVALUE({!singleObjectWithoutField.objectValue}, {!multiObject.objectValue}))</expression>
    </formulas>
    <formulas>
        <name>fSettingAssignTo</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Assign_To}, {!Default_Picklist_Value_Assign_To.picklistOptionLabel})</expression>
    </formulas>
    <formulas>
        <name>fSettingRecordName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Set_Separate_Rule_Name}, {!Follow_Up_Task_Subject})</expression>
    </formulas>
    <interviewLabel>New Task Follow-Up Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Task Follow-Up Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_New_Rule</name>
        <label>Insert New Rule</label>
        <locationX>242</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Open_Rule_Record</targetReference>
        </connector>
        <inputReference>followUpRule</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Rule</name>
        <label>Get Existing Rule</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Rule_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task_Follow_Up_Rule__c</object>
        <outputReference>followUpRule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assign_To__c</queriedFields>
        <queriedFields>Days_Till_Follow_Up__c</queriedFields>
        <queriedFields>Follow_Up_Subject__c</queriedFields>
        <queriedFields>Keywords__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Skip_Weekends__c</queriedFields>
        <queriedFields>Object_Selection__c</queriedFields>
        <queriedFields>Related_User_Field__c</queriedFields>
        <queriedFields>Restricted_Object_Value__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Is_Active__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Rule</name>
        <label>Update Existing Rule</label>
        <locationX>506</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Open_Rule_Record</targetReference>
        </connector>
        <inputReference>followUpRule</inputReference>
    </recordUpdates>
    <screens>
        <name>New_Rule_Screen</name>
        <label>New Rule Screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Any_errors</targetReference>
        </connector>
        <fields>
            <name>Follow_Up_Task_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>followUpRule.Follow_Up_Subject__c</elementReference>
            </defaultValue>
            <fieldText>Follow-Up Task Subject</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This text will appear as the Subject in the Follow-Up Task that&apos;s automatically created&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Keywords</name>
            <defaultValue>
                <stringValue>{!followUpRule.Keywords__c}</stringValue>
            </defaultValue>
            <fieldText>Enter Keywords (enter one per line)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Whenever a Task is created containing any of these keywords in its Subject, this Follow-Up Rule will be triggered&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Rule_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Rule_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Days_Until_Follow_Up</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>fDefaultDays</elementReference>
                    </defaultValue>
                    <fieldText>Days Until Follow-Up</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the number of days after the original task that the Follow-Up Task will be scheduled for. Can be 0 (Follow-Up will be scheduled for the same day) or more.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Value cannot be negative&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Days_Until_Follow_Up} &gt;= 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Don_t_schedule_on_weekends</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>fDefaultSkipWeekends</elementReference>
                    </defaultValue>
                    <fieldText>Don&apos;t schedule on weekends</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If a Follow-Up Task is scheduled for a Saturday or Sunday, schedule instead for the following Monday&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Rule_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Task_Priority</name>
                    <choiceReferences>setPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fDefaultPriority</elementReference>
                    </defaultValue>
                    <fieldText>Task Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Rule_is_Active</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>fDefaultIsActive</elementReference>
                    </defaultValue>
                    <fieldText>Rule is Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Only Active rules will be triggered&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>useAdvancedOptions</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Advanced Options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Advanced</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>fDefaultUseAdvancedOptions</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>New_Rule_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Rule_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Set_Separate_Rule_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>followUpRule.Name</elementReference>
                    </defaultValue>
                    <fieldText>Set Separate Rule Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;By default, the Name of the Task Follow-Up Rule is the same as the Subject. If you wish to specify a separate Name, enter it here.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Assign_To</name>
                    <choiceReferences>setAssignTo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fDefaultAssignToOption</elementReference>
                    </defaultValue>
                    <fieldText>Assign To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Determines which user the Follow-Up Task will be assigned to. &lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>dispError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 1, 1);&quot;&gt;Assigning the Follow-Up Task to a related user is only available when the rule applies to one specific object. Clicking &quot;Save&quot; will cause you to lose anything entered on this screen and start again.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Assign_To</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Related User</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Apply_to_Tasks_on_Which_Object</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>One Specific Object</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Apply_to_Tasks_on_Which_Object</name>
                    <choiceReferences>setObjectSelection</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fDefaultObjectSelection</elementReference>
                    </defaultValue>
                    <fieldText>Apply to Tasks on Which Object?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>singleObjectWithField</name>
                    <extensionName>c:tfurObjectManager</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allowMultiselect</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showFieldSelector</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Object</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectValue</name>
                        <value>
                            <elementReference>followUpRule.Restricted_Object_Value__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldValue</name>
                        <value>
                            <elementReference>followUpRule.Related_User_Field__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Assign_To</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Related User</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Apply_to_Tasks_on_Which_Object</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>One Specific Object</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>singleObjectWithoutField</name>
                    <extensionName>c:tfurObjectManager</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allowMultiselect</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Object</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showFieldSelector</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectValue</name>
                        <value>
                            <elementReference>followUpRule.Restricted_Object_Value__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Apply_to_Tasks_on_Which_Object</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>One Specific Object</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Assign_To</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Related User</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>multiObject</name>
                    <extensionName>c:tfurObjectManager</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allowMultiselect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Objects</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showFieldSelector</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectValue</name>
                        <value>
                            <elementReference>followUpRule.Restricted_Object_Value__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Apply_to_Tasks_on_Which_Object</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multiple Specific Objects</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>useAdvancedOptions.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Default_Picklist_Value_Object_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Default_Picklist_Value_Assign_To</name>
        <label>Default Picklist Value: Assign To</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Default_Picklist_Value_Task_Priority</targetReference>
        </connector>
        <flowName>Get_Default_Picklist_Value</flowName>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <elementReference>tfurObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>picklistFieldName</name>
            <value>
                <stringValue>Assign_To__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Default_Picklist_Value_Object_Selection</name>
        <label>Default Picklist Value: Object Selection</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Default_Picklist_Value_Assign_To</targetReference>
        </connector>
        <flowName>Get_Default_Picklist_Value</flowName>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <elementReference>tfurObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>picklistFieldName</name>
            <value>
                <stringValue>Object_Selection__c</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Default_Picklist_Value_Task_Priority</name>
        <label>Default Picklist Value: Task Priority</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Existing_Rule</targetReference>
        </connector>
        <flowName>Get_Default_Picklist_Value</flowName>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>picklistFieldName</name>
            <value>
                <stringValue>Priority</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>followUpRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Follow_Up_Rule__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
